#page-home{
    height: 100vh;              /* ocupa todo a altura H disponível para o elemento na view port */
    background: url('../assets/home-background.svg') no-repeat;
    background-position: 35vw bottom;  /*  largura W para o elemento na view port, posicionado no fundo */
    
}

#page-home .content {

    width: 90%;                 /* largura que se adapta */
    max-width: 1100px;          /* porém o limite dessa largura: 1100px */
    height: 100%;
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;             /* alinha o conteúdo poderia ser também 0 auto 0 (cima, esquerda + direita, baixo) */
}

#page-home header {

    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page-home  header a{
    display: flex;              /* apresenta todos os elementos dentro de <a> em linha*/
    color:var(--title-color);
    font-weight: 700;
}

#page-home  header a span{      /* imagem de login*/

    display: flex;
    margin-right:16px ;         /* dá um espaço de 16px entre a img e o textinho da tag <a>*/
    background-image: url('../assets/log-in.svg');
    width: 20px;
    height: 20px;
    
}

#page-home main {


    flex: 1;
    max-width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-home main h1{

    font-size: 54px;
}

#page-home main p{

    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;

}

#page-home main a{              /* configuração do botão verde */

    width: 100%;
    max-width: 360px;
    height: 72px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    background-color: var(--primary-color) ;
    transition: 400ms;
}

#page-home main a:hover{
    background-color: #2fb86e;
}

#page-home main a span{     /* onde se localiza a imagem da lupa */

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 72px;
    height: 72px;
    background-color: rgba(0,0,0,0.08);
    display: flex; /* para que a lupa dentro do span apareça*/
    align-items: center;
    justify-content: center;
}

#page-home main a span::after{
    content:"";
    background-image: url('../assets/search.svg'); /* por ser um spam, não aparece enquanto não se delimita width, height e display flex*/
    width: 20px;
    height: 20px;
}

#page-home main a strong{
    color:white;
    flex:1;
    text-align: center;
}